
node_modules/
public/
dist/
build/
coverage/
*.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.min.js
*.min.css
package-lock.json
pnpm-lock.yaml
yarn.lock
.turbo
.next
logs/
*.log
*.cache
*.tmp
*.bak
*.swp
*.DS_Store
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.code-workspace
tests/
__tests__/
*.test.js
*.test.ts
*.spec.js
*.spec.ts
apps/frontend/package-lock.json
apps/frontend/package.json
**/*.config.js
